/*
# Menu

## Pure CSS menu

Opener
```
<div class="menu-opener">
    <div></div>
    <div></div>
    <div></div>
</div>
```

Menu
```
<div class="menu-wrap">
    <div class="menu-content">
    <div class="img" style="background-image: url(http://placehold.it/350x200);"></div>
        <ul>
            <li>Option 1</li>
            <li>Option 2</li>
            <li>Option 3</li>
            <li>Option 4</li>
            <li>Option 5</li>
        </ul>
    </div>
</div>
```

## NOTE:

To change the menu status, add class 'active' to it
*/

@menu_z: 500;
@menu_w: 350px;

.menu-opener{
  @size       : 60px;
  @bar_w      : @size * 0.55;
  @bar_h      : @size * 0.05;
  @bar_gutter : @size * 0.15;
  @color      : @red;

  position  : fixed;
  right     : 20px;
  top       : 20px;
  width     : 10vw;
  height    : 10vw;
  max-width : @size;
  max-height: @size;
  background: @color;
  cursor    : pointer;
  z-index   : @menu_z;
  overflow  : hidden;
  .rounded(50%);
  .shadow();
  div{
      position  : absolute;
      display   : block;
      left      : (@size - @bar_w) / 2;
      width     : @bar_w;
      height    : @bar_h;
      background: @white;
      .transition();
      .rounded(@bar_h);
      &:nth-child(1){ top: ((@size - @bar_h) / 2) - (@bar_gutter + @bar_h); }
      &:nth-child(2){ top: ((@size - @bar_h) / 2); }
      &:nth-child(3){ top: ((@size - @bar_h) / 2) + (@bar_gutter + @bar_h)}
  }

    &.active{
        div{
            // Center bar out of circle
            &:nth-child(2){ left: @size;}

            // Create X shape
            &:nth-child(1),
            &:nth-child(3){
                top: (@size - @bar_h) / 2;
            }
            &:nth-child(3){ .transform(rotate(45deg));  }
            &:nth-child(1){ .transform(rotate(-45deg)); }
        }
    }
}

.menu-wrap{
    // http://codepen.io/jeffmccarthyesq/pen/LEEKLZ?editors=0100
    position  : fixed;
    overflow  : hidden;
    top       : 0%;
    width     : @menu_w;
    height    : 100vh;
    left      : 0;
    padding   : 0;
    display   : block;
    visibility: hidden;
    z-index   : @menu_z;
    transform : translate(-50px);
    transition: all 0.5s;
    .menu-content{
        opacity: 0;
    }
    .img{
        width : 100%;
        height: 200px;
        .BW(50%);
        .background-img('@{imgDir}/menu_header.jpg'; center center);
    }
    ul{
        li{
            @color_text: fadeout(@black, 30%);

            position     : relative;
            padding      : 10px 15px;
            cursor       : pointer;
            z-index      : 1;
            font-size    : 1.5em;
            color        : @color_text;
            border-bottom: @color_text solid 1px;
            font-weight  : bold;
            .transition( color);
            &:before{
                position  : absolute;
                content   : '';
                background: @red;
                top       : 0;
                bottom    : 0;
                left      : 0;
                width     : 5px;
                z-index   : -1;
                opacity: 0.8;
                .transition(width);
            }
            &:nth-child(1):before{ background: @blue; }
            &:nth-child(2):before{ background: @orange; }
            &:nth-child(3):before{ background: @purple; }
            &:nth-child(4):before{ background: @green; }
            &:nth-child(5):before{ background: @pink; }
            &:nth-child(6):before{ background: @blue; }
            &.active,
            &:hover{
                //background: darken(@white, 20%);
                color : @white;
                &:before{
                    width: 100%;
                }
            }
        }
    }
    &:before {
        // Backgroun with boble effect
        content   : "";
        position  : absolute;
        width     : 0;
        height    : 0;
        //background: @turquoise;
        background: #c7e4e8;
        left      : 0;
        top       : 10%;
        -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        .rounded(50%);
    }

    // Open
    &.active{
        display   : block;
        visibility: visible;
        transform : translateZ(0px);
        transition: all 0.5s;
        .shadow();
        .menu-content {
            position: relative;
            z-index : 1;
            opacity : 1;
            transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        &:before {
            @size: 200vmax;

            display    : block;
            top        : 50%;
            left       : 0;
            height     : @size;
            width      : @size;
            margin-left: -@size / 2;
            margin-top : -@size / 2;
            -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
}
