// @import "assets/styles/abstracts/index.scss";

.heading {
  margin: 0.5em 0;
  display: block;
  font-weight: bold;
  // color: $text-color-darker;

  &__1,
  &__2 {
    // color: $themeColor-1;
  }
  &__1 {
    font-size: 2.4em;
  }
  &__2 {
    font-size: 2em;
  }
  &__3 {
    font-size: 1.8em;
  }
  &__4 {
    font-size: 1.25em;
  }
  &__5 {
    // color: $text-color;
    font-size: 1.2em;
  }
  &__6 {
    // color: $text-color;
    font-size: 1em;
  }
}
