.right{
	float: right;
}
.left{
	float: left;
}
.center{
	text-align: center;
}
.clear{
	clear: both;
}
.fullHeight{
	min-height: 100vh;
}
.bg_main{
    background: @themeColor_1;
}
.bg_sec{
    background: @themeColor_2;
}

//---------------------
//--- General page ----
//---------------------
#erroPage{
    background : @white;
    position   : absolute;;
    top        : 0;
    bottom     : 0;
    left       : 0;
    right      : 0;
    padding    : 200px 0;
    color      : lighten(@black, 50%);

    .pet{
        display   : block;
        font-size : 30px;
        padding   : 50px 0;
    }

}
#contact{
    .background-parallax('@{defImgDir}/bg.jpg');
}
body{
	background: @themeColor_BG;
}
section{
    position  : relative;
    padding   : 60px 20px;
    background: @white;

    &>h1{
        @line_h: 3px;

        max-width : 250px;
        margin    : 0 auto 60px;
        position  : relative;
        text-align: center;
        &:before,
        &:after{
            content   : '';
            position  : absolute;
            width     : 80%;
            height    : @line_h;
            background: @themeColor_2;
        }
        &:before{
            left  : 0;
            bottom: -@line_h;
        }
        &:after{
            right : 0;
            bottom: -@line_h * 3;
        }
    }
}
#home{
    @color_main: darken(@themeColor_1, 0%);
    @color_sec : @themeColor_2;
    @title_h: 250px;
    @title_w: 400px;

    height    : 100vh;
    min-height: @title_h * 2;
    background: fadeout(@black, 50%);
    text-align: center;
    .title{
        position   : absolute;
        top        : 50%;
        left       : 50%;
        height     : @title_h;
        width      : @title_w;
        margin     : -@title_h/2 auto 0 -@title_w/2;
        padding    : 0 16px;
        background : @color_sec;
        color      : @white;
        font-size  : (@title_h / 3) * 0.75;
        line-height: @title_h / 3;
        text-shadow: 5px 5px 10px @themeColor_1;
        .font_elegant();
        span{
            display   : block;
            border-top: 2px solid @white;
            font-size : 0.5em;
            overflow  : hidden;
        }

        @box_size  : @title_h / 2;
        @box_border: 5px;
        &:before,
        &:after{
            content : '';
            width   : @box_size;
            height  : @box_size;
            border  : @box_border solid @white;
            position: absolute;
        }
        &:before{
            top          : -@box_border * 2.5;
            left         : -@box_border * 2.5;
            border-bottom: 0;
            border-right : 0;
        }
        &:after{
            bottom     : -@box_border * 2.5;
            right      : -@box_border * 2.5;
            border-top : 0;
            border-left: 0;
        }
    }

    .goDown{
        @size: 100px;

        position   : absolute;
        bottom     : 0;
        left       : 50%;
        height     : @size;
        width      : @size;
        margin-left: -@size / 2;
        text-align : center;
        &:before{
            content    : '\e801';
            position   : absolute;
            top        : 0;
            left       : 0;
            height     : @size;
            width      : @size;
            line-height: @size;
    		font-size  : @size * 0.4;
            color      : @white;
    		.font_icons();
        }
    }
    /*
    .goDown{
        @size: 100px;

        position   : absolute;
        bottom     : 0;
        left       : 50%;
        height     : @size / 2;
        width      : @size;
        margin-left: -@size / 2;
        background : @white;
        overflow   : hidden;
        text-align : center;
        .rounded(@size @size 0 0);
        &:before{
            content    : '\e801';
            position   : absolute;
            top        : 0;
            left       : 0;
            height     : @size;
            width      : @size;
            line-height: @size / 2;
    		font-size  : @size * 0.4;
            color      : @themeColor_1;
    		.font_icons();
        }
    }
    */
}
