@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Playball);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
textarea {
  resize: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
/* --- Colors --- */
/* --- Font families --- */
/*Generic mixins*/
/*****************/
/* Custom Mixins */
/*****************/
/************************************/
@-webkit-keyframes home_header_movement {
  0% {
    background-position: center left;
  }
  75% {
    background-position: center right;
  }
  100% {
    background-position: center left;
  }
}
@-moz-keyframes home_header_movement {
  0% {
    background-position: center left;
  }
  75% {
    background-position: center right;
  }
  100% {
    background-position: center left;
  }
}
@-ms-keyframes home_header_movement {
  0% {
    background-position: center left;
  }
  75% {
    background-position: center right;
  }
  100% {
    background-position: center left;
  }
}
@-o-keyframes home_header_movement {
  0% {
    background-position: center left;
  }
  75% {
    background-position: center right;
  }
  100% {
    background-position: center left;
  }
}
@keyframes home_header_movement {
  0% {
    background-position: center left;
  }
  75% {
    background-position: center right;
  }
  100% {
    background-position: center left;
  }
}
@-webkit-keyframes home_header_arrow {
  0% {
    background-position-y: 0px;
  }
  80% {
    background-position-y: 0px;
  }
  85% {
    background-position-y: 20px;
  }
  90% {
    background-position-y: 10px;
  }
  95% {
    background-position-y: 20px;
  }
  100% {
    background-position-y: 0px;
  }
}
@-moz-keyframes home_header_arrow {
  0% {
    background-position-y: 0px;
  }
  80% {
    background-position-y: 0px;
  }
  85% {
    background-position-y: 20px;
  }
  90% {
    background-position-y: 10px;
  }
  95% {
    background-position-y: 20px;
  }
  100% {
    background-position-y: 0px;
  }
}
@-ms-keyframes home_header_arrow {
  0% {
    background-position-y: 0px;
  }
  80% {
    background-position-y: 0px;
  }
  85% {
    background-position-y: 20px;
  }
  90% {
    background-position-y: 10px;
  }
  95% {
    background-position-y: 20px;
  }
  100% {
    background-position-y: 0px;
  }
}
@-o-keyframes home_header_arrow {
  0% {
    background-position-y: 0px;
  }
  80% {
    background-position-y: 0px;
  }
  85% {
    background-position-y: 20px;
  }
  90% {
    background-position-y: 10px;
  }
  95% {
    background-position-y: 20px;
  }
  100% {
    background-position-y: 0px;
  }
}
@keyframes home_header_arrow {
  0% {
    background-position-y: 0px;
  }
  80% {
    background-position-y: 0px;
  }
  85% {
    background-position-y: 20px;
  }
  90% {
    background-position-y: 10px;
  }
  95% {
    background-position-y: 20px;
  }
  100% {
    background-position-y: 0px;
  }
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
/*
.btn{
	.custom_button();
}
*/
.strong {
  font-weight: bold;
}
.fullHeight {
  min-height: 100vh !important;
}
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}
/*********************/
/*---General page----*/
/*********************/
*::selection {
  background: rgba(13, 17, 26, 0.6);
  color: #ffffff;
  text-shadow: none;
}
::-moz-selection {
  background: rgba(13, 17, 26, 0.6);
  color: #ffffff;
  text-shadow: none;
}
/****************************************/
#header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  width: 100vw;
  overflow: hidden;
  font-family: 'Lobster';
  background: center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-image: url('../img/cover_bg.jpg');
}
#header .profile {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100px;
  background-color: red;
  background: url('../img/avatar.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
#header .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(59, 59, 97, 0.25);
}
#header .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 100px;
  margin-left: -200px;
  margin-top: -50px;
  padding: 20px;
  font-size: 25px;
  color: white;
  text-shadow: 5px 5px 10px #969696;
  text-align: center;
}
#header .text h1 {
  font-size: 75px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}
#header .avatar {
  position: absolute;
  width: 25vw;
  bottom: -50px;
  right: 20vw;
}
#header .clieff {
  position: absolute;
  height: 80%;
  bottom: -20px;
  right: -20px;
}
#header .road {
  position: absolute;
  width: 110%;
  bottom: -5%;
  left: -5%;
}
#header .layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#header .move-down {
  position: absolute;
  bottom: 0px;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
  opacity: 0.7;
  z-index: 50;
  background-image: url('../img/icons/arrow_down.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% auto;
  animation: home_header_arrow 7s linear infinite;
  -moz-animation: home_header_arrow 7s linear infinite;
  -webkit-animation: home_header_arrow 7s linear infinite;
  -ms-animation: home_header_arrow 7s linear infinite;
  -o-animation: home_header_arrow 7s linear infinite;
}
#header .move-down:hover {
  background-image: url('../img/icons/arrow_down_hover.png');
}
section .container {
  padding: 30px 15px;
}
section .container > h1 {
  margin: 20px auto;
  font-size: 40px;
  text-align: center;
  color: #2B899E;
  font-weight: bold;
}
section h2 {
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: 25px;
  color: #2B899E;
}
section:nth-child(odd) {
  background-color: #ffffff;
}
section:nth-child(even) {
  background-color: #f5f5f5;
}
section.quote {
  font-size: 1.5em;
  text-align: center;
  position: relative;
  color: rgba(255, 255, 255, 0.65);
  padding: 40px 0px;
  background-color: #448986;
  font-family: 'Playball', 'Lobster';
}
section.quote i:before {
  position: relative;
  top: -10px;
  font-size: 0.55em;
}
section.quote .author {
  display: block;
  padding-top: 10px;
  font-size: 0.85em;
  text-align: right;
}
section.quote:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}
#profile {
  min-height: auto;
  line-height: 1.5;
}
#profile h2 {
  padding-bottom: 20px;
  padding-left: 0;
  font-size: 20px;
  color: #336765;
  font-weight: bold;
}
#profile .avatar .img {
  height: 250px;
  width: 250px;
  margin-bottom: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 10px solid #336765;
  background-image: url('../img/avatar.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50% 5px 5px 5px;
  -moz-border-radius: 50% 5px 5px 5px;
  -webkit-border-radius: 50% 5px 5px 5px;
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
}
#profile .sumary {
  padding-bottom: 35px;
}
#profile .personal_details li {
  padding-bottom: 10px;
}
#profile .personal_details li .property {
  color: #336765;
  text-transform: capitalize;
}
#profile:hover .img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}
#bio-list {
  min-height: 100vh;
}
#bio-list * {
  cursor: default;
}
#bio-list .bio-item {
  padding-bottom: 20px;
  line-height: 1.5;
  margin: 0;
  -webkit-transition: opacity;
  /* For Safari 3.1 to 6.0 */
  transition: opacity;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
#bio-list .bio-item h1 {
  padding-bottom: 5px;
  font-size: 20px;
}
#bio-list .bio-item .general {
  padding-top: 20px;
}
#bio-list .bio-item .general span {
  display: block;
  color: rgba(13, 17, 26, 0.9);
}
#bio-list .bio-item .general span i {
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
#bio-list .bio-item .general a {
  color: rgba(13, 17, 26, 0.9);
  cursor: pointer;
}
#bio-list .bio-item .details {
  width: 100%;
  min-height: 150px;
  padding: 20px;
  color: #ffffff;
  border-radius: 10px 5px 5px 5px;
  -moz-border-radius: 10px 5px 5px 5px;
  -webkit-border-radius: 10px 5px 5px 5px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
#bio-list .bio-item .details h1 {
  color: #ffffff;
}
#bio-list .bio-item .icon {
  position: relative;
  height: 150px;
  width: 150px;
  margin: auto;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
  border-radius: 50% 5px 5px 5px;
  -moz-border-radius: 50% 5px 5px 5px;
  -webkit-border-radius: 50% 5px 5px 5px;
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
}
#bio-list .bio-item .icon:after {
  position: absolute;
  display: block;
  font-family: 'FontAwesome';
  font-size: 75px;
  top: 50px;
  top: 20px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
#bio-list .bio-item .general h1,
#bio-list .bio-item .general i,
#bio-list .bio-item .general a:hover {
  color: #4cdca7;
}
#bio-list .bio-item .details,
#bio-list .bio-item .icon {
  background-color: #4cdca7;
}
#bio-list .bio-item .details *::selection,
#bio-list .bio-item .icon *::selection {
  background: #49dba5;
  color: #ffffff;
  text-shadow: none;
}
#bio-list .bio-item .details ::-moz-selection,
#bio-list .bio-item .icon ::-moz-selection {
  background: #49dba5;
  color: #ffffff;
  text-shadow: none;
}
#bio-list .bio-item .icon:after {
  content: "\f19d";
}
#bio-list .bio-item.formation .general h1,
#bio-list .bio-item.formation .general i,
#bio-list .bio-item.formation .general a:hover {
  color: #4cdca7;
}
#bio-list .bio-item.formation .details,
#bio-list .bio-item.formation .icon {
  background-color: #4cdca7;
}
#bio-list .bio-item.formation .details *::selection,
#bio-list .bio-item.formation .icon *::selection {
  background: #49dba5;
  color: #ffffff;
  text-shadow: none;
}
#bio-list .bio-item.formation .details ::-moz-selection,
#bio-list .bio-item.formation .icon ::-moz-selection {
  background: #49dba5;
  color: #ffffff;
  text-shadow: none;
}
#bio-list .bio-item.formation .icon:after {
  content: "\f19d";
}
#bio-list .bio-item.language .general h1,
#bio-list .bio-item.language .general i,
#bio-list .bio-item.language .general a:hover {
  color: #d095f5;
}
#bio-list .bio-item.language .details,
#bio-list .bio-item.language .icon {
  background-color: #d095f5;
}
#bio-list .bio-item.language .details *::selection,
#bio-list .bio-item.language .icon *::selection {
  background: #ce91f5;
  color: #ffffff;
  text-shadow: none;
}
#bio-list .bio-item.language .details ::-moz-selection,
#bio-list .bio-item.language .icon ::-moz-selection {
  background: #ce91f5;
  color: #ffffff;
  text-shadow: none;
}
#bio-list .bio-item.language .icon:after {
  content: "\f075 ";
}
#bio-list .bio-item.job .general h1,
#bio-list .bio-item.job .general i,
#bio-list .bio-item.job .general a:hover {
  color: #b9c555;
}
#bio-list .bio-item.job .details,
#bio-list .bio-item.job .icon {
  background-color: #b9c555;
}
#bio-list .bio-item.job .details *::selection,
#bio-list .bio-item.job .icon *::selection {
  background: #b8c452;
  color: #ffffff;
  text-shadow: none;
}
#bio-list .bio-item.job .details ::-moz-selection,
#bio-list .bio-item.job .icon ::-moz-selection {
  background: #b8c452;
  color: #ffffff;
  text-shadow: none;
}
#bio-list .bio-item.job .icon:after {
  content: "\f121";
}
#bio-list .bio-item.travel .general h1,
#bio-list .bio-item.travel .general i,
#bio-list .bio-item.travel .general a:hover {
  color: #8695ff;
}
#bio-list .bio-item.travel .details,
#bio-list .bio-item.travel .icon {
  background-color: #8695ff;
}
#bio-list .bio-item.travel .details *::selection,
#bio-list .bio-item.travel .icon *::selection {
  background: #8291ff;
  color: #ffffff;
  text-shadow: none;
}
#bio-list .bio-item.travel .details ::-moz-selection,
#bio-list .bio-item.travel .icon ::-moz-selection {
  background: #8291ff;
  color: #ffffff;
  text-shadow: none;
}
#bio-list .bio-item.travel .icon:after {
  content: "\f1d8";
}
#bio-list .container:hover .bio-item {
  opacity: 0.5;
}
#bio-list .container:hover .bio-item:hover {
  opacity: 1;
}
#bio-list .container:hover .bio-item:hover .details,
#bio-list .container:hover .bio-item:hover .icon {
  -webkit-box-shadow: 0px 0px 45px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 45px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 45px -7px rgba(0, 0, 0, 0.5);
}
#bio-list .container:hover .bio-item:hover .icon:after {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
#abilities-list h2 {
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
}
#abilities-list .container > .row {
  margin-bottom: 40px;
  padding-bottom: 15px;
}
#abilities-list .ability {
  padding: 15px;
  margin: 0;
}
#abilities-list .ability ul.ability-level {
  text-align: right;
  -webkit-transition: padding-right;
  /* For Safari 3.1 to 6.0 */
  transition: padding-right;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
#abilities-list .ability ul.ability-level li {
  position: relative;
  width: 15px;
  height: 15px;
  display: inline-block;
  text-align: center;
}
#abilities-list .ability ul.ability-level.ability-level-0 li:after {
  opacity: 0.5;
}
#abilities-list .ability ul.ability-level.ability-level-1 li:after {
  opacity: 0.6;
}
#abilities-list .ability ul.ability-level.ability-level-2 li:after {
  opacity: 0.7;
}
#abilities-list .ability ul.ability-level.ability-level-3 li:after {
  opacity: 0.8;
}
#abilities-list .ability ul.ability-level.ability-level-4 li:after {
  opacity: 0.9;
}
#abilities-list .ability ul.ability-level.ability-level-5 li:after {
  opacity: 1.0;
}
#abilities-list .ability:hover ul.ability-level {
  padding-right: 20px;
}
#abilities-list h2 {
  background-color: #336765;
  color: #ffffff;
}
#abilities-list .ability ul.ability-level li:after {
  font-family: 'FontAwesome';
  color: #336765;
  content: '\f10c';
}
#abilities-list .ability ul.ability-level li.filled:after {
  content: '\f111';
}
#abilities-list .ability:hover {
  background-color: rgba(51, 103, 101, 0.1);
}
#abilities-list .skills h2 {
  background-color: #d4b96e;
  color: #ffffff;
}
#abilities-list .skills .ability ul.ability-level li:after {
  font-family: 'FontAwesome';
  color: #d4b96e;
  content: '\f006';
}
#abilities-list .skills .ability ul.ability-level li.filled:after {
  content: '\f005';
}
#abilities-list .skills .ability:hover {
  background-color: rgba(212, 185, 110, 0.1);
}
#abilities-list .tools h2 {
  background-color: #336765;
  color: #ffffff;
}
#abilities-list .tools .ability ul.ability-level li:after {
  font-family: 'FontAwesome';
  color: #336765;
  content: '\f10c';
}
#abilities-list .tools .ability ul.ability-level li.filled:after {
  content: '\f111';
}
#abilities-list .tools .ability:hover {
  background-color: rgba(51, 103, 101, 0.1);
}
#abilities-list .languages h2 {
  background-color: #5ca8b9;
  color: #ffffff;
}
#abilities-list .languages .ability ul.ability-level li:after {
  font-family: 'FontAwesome';
  color: #5ca8b9;
  content: '\f0e5';
}
#abilities-list .languages .ability ul.ability-level li.filled:after {
  content: '\f075';
}
#abilities-list .languages .ability:hover {
  background-color: rgba(92, 168, 185, 0.1);
}
#main-navigation {
  z-index: 50;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 1.5s;
  /* Safari */
  transition-duration: 1.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
#main-navigation .menu-bubble {
  position: fixed;
  left: 0px;
  top: 0;
  width: 75px;
  height: 75px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  z-index: 90;
  opacity: 0;
  background-color: #e2586b;
  box-sizing: content-box;
  border-radius: 50% 5px 5px 5px;
  -moz-border-radius: 50% 5px 5px 5px;
  -webkit-border-radius: 50% 5px 5px 5px;
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
#main-navigation .menu-bubble:after {
  font-family: 'FontAwesome';
  color: #ffffff;
  content: '\f069';
  font-size: 48.75px;
  width: 100%;
  line-height: 75px;
  display: block;
  text-align: center;
}
#main-navigation .menu-bubble span {
  position: absolute;
  top: 0;
  left: 75px;
  height: 75px;
  font-size: 30px;
  line-height: 75px;
  overflow: hidden;
  padding-top: 75px;
  opacity: 0;
  margin-left: 15px;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
#main-navigation .menu-bubble:hover {
  -webkit-box-shadow: 0px 0px 45px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 45px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 45px -7px rgba(0, 0, 0, 0.5);
}
#main-navigation .menu-bubble:hover span {
  padding-top: 0;
  opacity: 1;
}
#main-navigation .menu-activate {
  z-index: 100;
  opacity: 1;
}
#main-navigation .menu-activate:after {
  content: '\f0c9';
}
#main-navigation .menu-option-1 {
  background-color: #336765;
}
#main-navigation .menu-option-1:after {
  content: '\f015';
}
#main-navigation .menu-option-1 span {
  color: #336765;
}
#main-navigation .menu-option-2 {
  background-color: #336765;
}
#main-navigation .menu-option-2:after {
  content: '\f007';
}
#main-navigation .menu-option-2 span {
  color: #336765;
}
#main-navigation .menu-option-3 {
  background-color: #336765;
}
#main-navigation .menu-option-3:after {
  content: '\f135';
}
#main-navigation .menu-option-3 span {
  color: #336765;
}
#main-navigation .menu-option-4 {
  background-color: #336765;
}
#main-navigation .menu-option-4:after {
  content: '\f005';
}
#main-navigation .menu-option-4 span {
  color: #336765;
}
#main-navigation .menu-option-5 {
  background-color: #336765;
}
#main-navigation .menu-option-5:after {
  content: '\f013';
}
#main-navigation .menu-option-5 span {
  color: #336765;
}
#main-navigation .menu-option-6 {
  background-color: #336765;
}
#main-navigation .menu-option-6:after {
  content: '\f003';
}
#main-navigation .menu-option-6 span {
  color: #336765;
}
#main-navigation:after {
  -webkit-transition: opacity;
  /* For Safari 3.1 to 6.0 */
  transition: opacity;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
  content: '';
  position: fixed;
  width: 112.5px;
  height: 100vh;
  z-index: 50;
  background-color: rgba(13, 17, 26, 0.75);
  opacity: 0;
}
#main-navigation.active .menu-option-10 {
  top: 937.5px;
  left: 0;
  opacity: 1;
}
#main-navigation.active .menu-option-9 {
  top: 843.75px;
  left: 0;
  opacity: 1;
}
#main-navigation.active .menu-option-8 {
  top: 750px;
  left: 0;
  opacity: 1;
}
#main-navigation.active .menu-option-7 {
  top: 656.25px;
  left: 0;
  opacity: 1;
}
#main-navigation.active .menu-option-6 {
  top: 562.5px;
  left: 0;
  opacity: 1;
}
#main-navigation.active .menu-option-5 {
  top: 468.75px;
  left: 0;
  opacity: 1;
}
#main-navigation.active .menu-option-4 {
  top: 375px;
  left: 0;
  opacity: 1;
}
#main-navigation.active .menu-option-3 {
  top: 281.25px;
  left: 0;
  opacity: 1;
}
#main-navigation.active .menu-option-2 {
  top: 187.5px;
  left: 0;
  opacity: 1;
}
#main-navigation.active .menu-option-1 {
  top: 93.75px;
  left: 0;
  opacity: 1;
}
#main-navigation.active .menu-activate:after {
  content: '\f00d';
}
#main-navigation.active:after {
  opacity: 1;
}
#contact {
  position: relative;
  background: center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-image: url('../img/default/form.jpg');
}
#contact .container {
  position: relative;
}
#contact .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
}
#contact .contact-chanels {
  padding-top: 35px;
}
#contact .contact-chanels .contact-chanel {
  margin-bottom: 20px;
  cursor: pointer;
  color: #336765;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
#contact .contact-chanels .contact-chanel:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
#contact .contact-chanels .contact-chanel a {
  display: block;
  color: #336765;
}
#contact .contact-chanels .contact-chanel span {
  padding-left: 20px;
  font-size: 20px;
}
#contact .contact-chanels i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #336765;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
#contact .contact-form {
  border: solid #336765 0px;
  border-top-width: 2px;
}
#contact .contact-form .form-valid_message {
  display: none;
  text-align: center;
  font-size: 22px;
  padding: 20px 0;
}
#contact form {
  font-size: 18px;
}
#contact form .field {
  position: relative;
  margin-top: 35px;
}
#contact form .field label {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: text;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
#contact form .field input,
#contact form .field textarea {
  width: 100%;
  height: 40px;
  line-height: 1.5;
  padding-left: 15px;
  border: #336765 solid 2px;
  background-color: transparent;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
#contact form .field input:focus + label,
#contact form .field textarea:focus + label,
#contact form .field input.filled + label,
#contact form .field textarea.filled + label {
  top: -25px;
}
#contact form .field input:focus,
#contact form .field textarea:focus {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 30px -2px #336765;
  -moz-box-shadow: 0px 0px 30px -2px #336765;
  box-shadow: 0px 0px 30px -2px #336765;
}
#contact form .field input.error,
#contact form .field textarea.error {
  border-color: #e2586b;
  -webkit-box-shadow: 0px 0px 30px -2px #e2586b;
  -moz-box-shadow: 0px 0px 30px -2px #e2586b;
  box-shadow: 0px 0px 30px -2px #e2586b;
}
#contact form .field textarea {
  resize: none;
  height: 200px;
}
#contact form button {
  width: 100%;
  padding: 15px 0;
  margin-top: 15px;
  background-color: #336765;
  color: #ffffff;
  text-align: center;
  border: 2px solid #336765;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
#contact form button:hover,
#contact form button:focus {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  color: #336765;
  -webkit-box-shadow: 0px 0px 30px -2px #336765;
  -moz-box-shadow: 0px 0px 30px -2px #336765;
  box-shadow: 0px 0px 30px -2px #336765;
}
.portfolio_item {
  position: relative;
  height: 200px;
  margin-bottom: 25px;
  background: center center no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden;
}
.portfolio_item a.link {
  position: absolute;
  z-index: 10;
  right: 0px;
  top: 0px;
  text-align: center;
  line-height: 1.5;
  background-color: #d4b96e;
  color: #ffffff !important;
  font-size: 30px;
  padding: 5px 5px 0px 12px;
}
.portfolio_item .text {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 100%;
  background-color: rgba(51, 103, 101, 0.75);
  padding: 30px 15px;
  color: #ffffff;
  -webkit-transition: all;
  /* For Safari 3.1 to 6.0 */
  transition: all;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
.portfolio_item .text h1 {
  font-size: 25px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}
.portfolio_item .text span {
  display: block;
}
.portfolio_item .text span.desc {
  padding-bottom: 20px;
}
.portfolio_item:hover .text {
  top: 0%;
}
@media (max-width: 767px) {
  #header .text {
    top: 25%;
    font-size: 20px;
  }
  #header .text h1 {
    font-size: 40px;
    padding-bottom: 0px;
    border-bottom: 0px;
  }
}
@media (min-width: 992px) {
  #contact .contact-form {
    border-top-width: 0px;
  }
}
@media (min-width: 1200px) {
  #main-navigation.active:after {
    opacity: 0;
  }
}
